{% extends "procedures/base.html" %} {% block content %}
{% if procedures %}
<ul>
    {% for procedure in procedures %}
    <li><a href="{% url 'clinic:procedures:detail' procedure.id %}">{{procedure.name}}</a></li>
    <form onsubmit="return confirm('Do you really want to delete these procedure?');" method="POST" action="{% url 'clinic:procedures:delete' procedure.id %}">{% csrf_token %}<button>Delete</button></form><form method="POST" action="{% url 'clinic:procedures:edit' procedure.id %}">{% csrf_token %}<button>Edit</button></form> </li>
    {% endfor %}
</ul>
{% else %}
<p><strong>No procedures yet.</strong></p>
{% endif %}
<p><a href="{% url 'clinic:procedures:create' %}">Add new</a></p>
{% endblock %}
