<a href="{% url 'home' %}">Home</a> | 
        <a href="{% url 'logout' %}">Logout</a> |
        <a href="{% url 'account' %}">Your account</a> |
        <a href="{% url 'clinic:animals:list' %}">Your pets</a> | 
        <a href="{% url 'clinic:procedures:list' %}">Your procedures</a>
<h5>Here is the information for your account. If you want, you can modify it.</h5>
{% block content %}
<h2>Your account</h2>
<form method="post">
    {% csrf_token %}
    {% for field in account_form %}
        <p>
            {{field.label_tag}}
            {{field}}
            {% if field.help_text %}
                <small style="color: grey;">{{field.help_text}}</small>
            {% endif %}
        </p>
    {% endfor %}
    {% for field in account_form %}
        {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
        {% endfor %}
    {% endfor %}        
    
    {% if account_form.non_field_errors %}
        <div style="color: red;">
            <p>{{account_form.non_field_errors}}</p>
        </div>
    {% endif %}
    <button type="submit">Save changes</button>
</form>
{% endblock content %}