{% load static %}
<link rel="stylesheet" href="{% static 'css_design/background/background.css' %}">
<link rel="stylesheet" href="{% static 'css_design/header/header.css' %}">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
<h5 class="my-0 mr-md-auto font-weight-normal">
    {% if request.user.is_authenticated %}
    <p>Hello, {{request.user.username}}</p>
    {% endif %}
</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    {% if request.user.is_authenticated %}
        <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
        <a class="p-2 text-dark" href="{% url 'logout' %}">Logout</a>
        <a class="p-2 text-dark" href="{% url 'account' %}">Your account</a>
        <a class="p-2 text-dark" href="{% url 'clinic:animals:list' %}">Your pets</a>
        <a class="p-2 text-dark" href="{% url 'clinic:procedures:list' %}">Your procedures</a>
    {% else %}
        <a class="p-2 text-dark" href="{% url 'home' %}">Home</a> | 
        <a class="p-2 text-dark" href="{% url 'register' %}">Register</a> | 
        <a class="p-2 text-dark" href="{% url 'login' %}">Login</a>
    {% endif %}
  </nav>
</div>
</head>

{% block content %}
<h5>Here is the information for your account. If you want, you can modify it.</h5> 
<h2>Your account</h2>
<form method="post">
    {% csrf_token %}
    {% for field in account_form %}
        <p>
            {{field.label_tag}}
            {{field}}
            {% if field.help_text %}
                <small style="color: grey;">{{field.help_text}}</small>
            {% endif %}
        </p>
    {% endfor %}
    {% for field in account_form %}
        {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
        {% endfor %}
    {% endfor %}        
    
    {% if account_form.non_field_errors %}
        <div style="color: red;">
            <p>{{account_form.non_field_errors}}</p>
        </div>
    {% endif %}
    <button type="submit">Save changes</button>
</form>
{% endblock content %}