{% load static %}
<link rel="stylesheet" href="{% static 'css_design/background/background.css' %}">
<link rel="stylesheet" href="{% static 'css_design/login/login.css' %}">
{% block content %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Login Form -->
    <form class="form-signin" method="post">
    {% csrf_token %}
      <!-- Tabs Titles -->
      <h1 class="h3 mb-3 font-weight-normal"> Login </h1>
      
      <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
      
      <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>

      {% for field in login_form %}
        <p>
          {% for error in field.errors %}
              <p style="color: red;">{{error}}</p>
          {% endfor %}
        </p>
      {% endfor %}        
    
      {% if login_form.non_field_errors %}
          <div style="color: red;">
              <p>{{login_form.non_field_errors}}</p>
          </div>
      {% endif %}

      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>>
    </form>

  </div>
</div>
{% endblock content %}


{% block content %}
<h2>Register</h2>
<form method="post">
    {% csrf_token %}
    {% for field in registration_form %}
        <p>
            {{field.label_tag}}
            {{field}}
            {% if field.help_text %}
                <small style="color: grey;">{{field.help_text}}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red;">{{error}}</p>
            {% endfor %}
        </p>
    {% endfor %}
    <button type="submit">Register</button>
</form>
{% endblock content %}