{% load static %}
<link rel="stylesheet" href="{% static 'css_design/background/background.css' %}">
<link rel="stylesheet" href="{% static 'css_design/login/login.css' %}">
{% block content %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Login Form -->
    <form class="form-signin" method="post">
    {% csrf_token %}
      <!-- Tabs Titles -->
      <h1 class="h3 mb-3 font-weight-normal"> Register your account </h1>
      
      <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
      
      <input type="username" id="inputUsername" class="form-control" name="username" placeholder="Username" required>

      <input type="password" id="inputPassword" class="form-control" name="password1" placeholder="Password" required>

      <input type="password" id="inputPassword" class="form-control" name="password2" placeholder="Confirm password" required>

      {% for field in registration_form %}
        <p>
          {% for error in field.errors %}
              <p style="color: red;">{{error}}</p>
          {% endfor %}
        </p>
      {% endfor %}        
    
      {% if registration_form.non_field_errors %}
          <div style="color: red;">
              <p>{{registration_form.non_field_errors}}</p>
          </div>
      {% endif %}

      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>>
    </form>

  </div>
</div>
{% endblock content %}
